body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.prop {
  font-weight: bold;
}

.null {
  color: red;
}

.bool {
  color: blue;
}

.num {
  color: blue;
}

.string {
  color: green;
  white-space: pre-wrap;
}

.collapser {
  position: absolute;
  left: -1em;
  top: -.2em;
  cursor: pointer;
  -moz-user-select: none;
  transform: rotate(90deg);
  transition: transform .2s;
}

.collapser:before {
  content: "▸";
}

.collapsible {
  transition: height 1.2s;
  transition: width 1.2s;
}

.collapsible.collapsed {
  height: .8em;
  width: 1em;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}
.collapsible.collapsed:before {
  content: "…";
  width: 1em;
  margin-left: .2em;
}

.collapser.collapsed {
  transform: rotate(0deg);
}

.q {
  display: inline-block;
  width: 0px;
  color: transparent;
}

.quoted .q {
  display: inline;
  width: auto;
  color: inherit;
  font-weight: normal;
}

li {
  position: relative;
}

#error {
  border-bottom: 1px solid rgb(212, 209, 209);
  background-color: rgb(239, 239, 239);
  margin-bottom: 1.5em;
  padding: 1em .5em;
}

.errormessage {
  font-family: monospace;
  margin-top: .5em;
  color: rgb(167, 5, 5);
}

.errorcolumn {
  background-color: rgb(167, 5, 5);
  color: white;
}

.errorline {
    background-color: rgb(255, 226, 226);
}

#json {
  font-family: monospace;
  font-size: 1.1em;
  white-space: pre-wrap;
  margin: .5em;
}

ul {
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}

h1 {
  font-size: 1.2em;
}

/* Indent JSON when there's a callback. */
.callback + #json {
  padding-left: 1em;
}

.callback {
  font-family: monospace;
  color: #A52A2A;
}